In [25]:
from datetime import datetime
import time
import pandas as pd
import numpy as np

In [26]:
output_file_path = 'lowongan_manager_linkedin_scrape.xlsx'
df = pd.read_excel(output_file_path)
print(df.shape)
df.sample(10)

(1000, 10)

,ID,Date,Company,Title,Location,Description,Level,Type,Function,Industry
765,NaN,2023-10-18,PT. Sumber Bintang Perkasa,Digital Marketing Manager,"Jakarta, Jakarta, Indonesia",Responsibilities\n\n\nPlan marketing strategie...,NaN,NaN,NaN,NaN
102,NaN,2023-11-17,PT Nippon Indosari Corpindo Tbk,Brand Manager,"Jakarta, Indonesia",Kualifikasi :\n\nMinimal Pendidikan S1 Ekonomi...,NaN,NaN,NaN,NaN
517,NaN,2023-11-15,Bababos,Field Collection Manager,Jakarta Metropolitan Area,bababos adalah platform penyediaan bahan baku ...,NaN,NaN,NaN,NaN
704,NaN,2023-08-22,Michael Page,"HR Manager, Retail",Jakarta Metropolitan Area,Fast-growing retail company|International work...,NaN,NaN,NaN,NaN
702,NaN,2023-11-24,Talent Insider,Business Development Manager,"Jakarta, Indonesia",Job Descriptions:\n\nLeading business developm...,NaN,NaN,NaN,NaN
28,NaN,2023-11-28,PT Bank Jago Tbk,Relationship Manager,Jakarta Metropolitan Area,The Partnership Relationship Manager at Jago p...,NaN,NaN,NaN,NaN
749,NaN,2023-11-21,Robert Walters,Production Manager (Semarang),"Semarang, Central Java, Indonesia",A Production Manager (Semarang) job has become...,NaN,NaN,NaN,NaN
894,NaN,2023-11-21,Shipper,Senior/Sales Manager Logistic Supply Chain - B...,Greater Semarang,Who we are looking for:\nWe are looking for a ...,NaN,NaN,NaN,NaN
263,NaN,2023-12-01,PT Momenta Agrikultura,Purchasing Manager - Lembang,"Tangerang Selatan, Banten, Indonesia",Company Description: PT Momenta Agrikultura ad...,NaN,NaN,NaN,NaN
342,NaN,2023-08-23,CleverTap,Customer Onboarding Manager,Jakarta Metropolitan Area,"About the Role:\n\nAs an Onboarding manager, y...",NaN,NaN,NaN,NaN

### cek duplikasi data

In [27]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [28]:
df[df.duplicated(subset=["Description"], keep=False)] # cek duplicate data berdasarkan kolom Description
df = df.drop_duplicates() # hapus data yang duplicate

In [29]:
print(df.shape)
df.sample(10)

(975, 10)

,ID,Date,Company,Title,Location,Description,Level,Type,Function,Industry
336,NaN,2023-11-29,"The Ritz-Carlton Hotel Company, L.L.C.",Purchasing Manager,"Jakarta, Jakarta, Indonesia",Additional Information Purchasing Manager\n\nJ...,NaN,NaN,NaN,NaN
866,NaN,2023-11-09,Shipper,E-commerce Sales Manager,Jakarta Metropolitan Area,What Is Shipper\n\nShipper is a growing techno...,NaN,NaN,NaN,NaN
185,NaN,2023-11-15,ASTRO,Category Manager (Food & Non-Food),"Jakarta, Jakarta, Indonesia","Responsibilities\n\nAs our Astronaut, your mis...",NaN,NaN,NaN,NaN
306,NaN,2023-11-25,Peeba (YC W23),Brand Success Manager,Jakarta Metropolitan Area,About Peeba\n\n\n\n\nPeeba is a B2B wholesale ...,NaN,NaN,NaN,NaN
486,NaN,2023-11-23,Kanmo Group,"Visual Merchandising Manager (Baby, Kids, Toys)","Jakarta, Jakarta, Indonesia",Key Responsibilities:\n\n\n\n\nResponsible to ...,NaN,NaN,NaN,NaN
710,NaN,2023-11-19,PT Pamitra Jaya Konstruksi,Project Manager - Mechanical - Jambi,"Sidoarjo, East Java, Indonesia",Company Description: PT PAMITRA JAYA KONSTRUKS...,NaN,NaN,NaN,NaN
140,NaN,2023-10-16,Happy Trails! Asia,Reservation and Operation Manager,"Denpasar, Bali, Indonesia",Responsibilities\n\nAs a Reservation & Operati...,NaN,NaN,NaN,NaN
847,NaN,2023-11-13,Reckitt,Key Account Manager LMT East Java & Outer Islands,"Jakarta, Jakarta, Indonesia",Description\n\n\n\n\nWant to deliver far more ...,NaN,NaN,NaN,NaN
151,NaN,2023-11-21,Ayoconnect,Client Success Jr Manager,"Jakarta, Indonesia","About:\n\nFounded in 2016, Ayoconnect is South...",NaN,NaN,NaN,NaN
542,NaN,2023-11-29,Moladin,Financing Manager (Palembang),"Palembang, South Sumatra, Indonesia",Mengelola dan memastikan target sales tercapai...,NaN,NaN,NaN,NaN

In [30]:
City = []
Province = []
for row in df['Location']:
    x = row.split(",") #convert each element in the tuple to list
    n_element = len(x) #check how many element in the field (list length)
    #print(n_element) 
    if n_element == 3:
        City.append(x[0]) #take the first element as city
        Province.append(x[1]) #take the second element as province
    elif n_element == 2:
        City.append(np.nan)
        Province.append(x[0])
    else:
        if x[0] == 'Indonesia':
            City.append(np.nan)
            Province.append(np.nan)
        else:
            City.append(x[0])
            Province.append(np.nan)
print('done')

done

In [31]:
#Insert new columns after location. location starts from 0.
df.insert(5, 'City', City)
df.insert(6, 'Province', Province)
print('Done')

Done

In [32]:
df.sample(10)

,ID,Date,Company,Title,Location,City,Province,Description,Level,Type,Function,Industry
172,NaN,2023-11-11,MR DIY Indonesia,Trade Marketing Manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Responsibilities\n\n\nDeveloping strategy to i...,NaN,NaN,NaN,NaN
617,NaN,2023-11-28,WWF Indonesia,Finance Officer,"Jakarta, Indonesia",NaN,Jakarta,Summary of the role\n\nJika Anda memiliki antu...,NaN,NaN,NaN,NaN
367,NaN,2023-11-02,IHG Hotels & Resorts,Training Manager (Pre-opening) at Holiday Inn ...,"Bali, Indonesia",NaN,Bali,IHG® is one of the world’s leading hotel compa...,NaN,NaN,NaN,NaN
998,NaN,2023-10-29,MatchaTalent,(Automobiles Car) Regional Sales Manager,"North Sumatra, Indonesia",NaN,North Sumatra,About the Company\n\nOver the past two decades...,NaN,NaN,NaN,NaN
203,NaN,2023-09-21,Populix,Public Relations Manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,About us:\n\n\n\n\nPopulix is a consumer insig...,NaN,NaN,NaN,NaN
252,NaN,2023-11-09,Groupe SEB,e-Commerce Executive,"Jakarta, Indonesia",NaN,Jakarta,Responsibilities\n\n\n\n\nDriving the sales pe...,NaN,NaN,NaN,NaN
186,NaN,2023-11-16,PepsiCo,"Indonesia Marketing Manager, Quaker","Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Responsibilities\n\n\nBrand-Building/Marketing...,NaN,NaN,NaN,NaN
43,NaN,2023-11-13,Alpargatas S.A.,Regional Commercial Manager,"Jakarta, Indonesia",NaN,Jakarta,Purpose of the Role:\n\nDirectly reporting to ...,NaN,NaN,NaN,NaN
180,NaN,2023-11-08,Shipper,Transport Planner & Field Operations Manager -...,"Central Jakarta, Jakarta, Indonesia",Central Jakarta,Jakarta,What is Shipper:\n\nShipper is a growing techn...,NaN,NaN,NaN,NaN
803,NaN,2023-11-22,PT. Unicorn Tosan Perkasa,Project Management Manager (HO),"Bandung, Banten, Indonesia",Bandung,Banten,Kualifikasi\n\n\nMinimal pendidikan Diploma / ...,NaN,NaN,NaN,NaN

In [33]:
fix_list = ['Full-time', 'Part-time', 'Internship', 'Temporary', 'Contract']
new_level = []
new_type = []
length = len(df['Level'])
df_level = df['Level']
df_type = df['Type']
for row in range(length):
    if str(df_level.iloc[row]) in fix_list:
        new_level.append(np.nan)
        new_type.append(df_level.iloc[row]) #iloc = integer location. Function to select row by its index location
    else:
        new_level.append(df_level.iloc[row])
        new_type.append(df_type.iloc[row])
#Insert new columns after location. location starts from 0.
df['Level'] = new_level
df['Type'] = new_type

In [34]:
df.head(10)

,ID,Date,Company,Title,Location,City,Province,Description,Level,Type,Function,Industry
0,NaN,2023-10-13,PT Kino Indonesia Tbk,BUSINESS MANAGER,"Tangerang, Banten, Indonesia",Tangerang,Banten,Company Description: PT Kino Indonesia Tbk (Ki...,NaN,NaN,NaN,NaN
1,NaN,2023-11-22,PT. Indosat Tbk,Staff Service Management,"Jakarta, Indonesia",NaN,Jakarta,Role Purpose\n\nManage dedicated account targe...,NaN,NaN,NaN,NaN
2,NaN,2023-10-18,Kalbe Nutritionals (PT Sanghiang Perkasa),Packaging Development Manager,"Jakarta Timur, Jakarta, Indonesia",Jakarta Timur,Jakarta,Responsibilities\n\n\nCreating packaging for a...,NaN,NaN,NaN,NaN
3,NaN,2023-11-27,PT. Gudang Garam Tbk,Assistant Brand Manager,"Jakarta, Indonesia",NaN,Jakarta,Job Purpose\n\nAssist Brand Manager in impleme...,NaN,NaN,NaN,NaN
4,NaN,2023-11-29,Kalbe Consumer Health,Brand Manager,"North Jakarta, Jakarta, Indonesia",North Jakarta,Jakarta,JOIN US TO BE THE BRIGHTEST STAR\n\nWe Do Inno...,NaN,NaN,NaN,NaN
5,NaN,2023-10-18,Kalbe Nutritionals (PT Sanghiang Perkasa),Brand Manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Responsibilities\n\n\nMonitor sales performanc...,NaN,NaN,NaN,NaN
6,NaN,2023-11-15,PT Bank Sinarmas Tbk,Relationship Manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Tugas:\n\nMemasarkan produk dan layanan perban...,NaN,NaN,NaN,NaN
7,NaN,2023-11-20,Bank Aladin Syariah,Relationship Manager,"Jakarta, Indonesia",NaN,Jakarta,Title: Relationship Manager - Funding\n\nDirec...,NaN,NaN,NaN,NaN
8,NaN,2023-10-18,PT SANTOS JAYA ABADI (Kapal Api Global),Strategic Management Office Manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,"Responsibilities\n\n\nFormulasi, monitoring, a...",NaN,NaN,NaN,NaN
9,NaN,2023-10-16,"AYANA Resort and Spa, BALI",Food & Beverage Manager | Delonix Hotel Karawa...,"Karawang, West Java, Indonesia",Karawang,West Java,We are in search of young talent with an energ...,NaN,NaN,NaN,NaN

In [36]:
df['Company'].value_counts()

Company
Michael Page                   65
Moladin                        24
AYANA Resort and Spa, BALI     24
PT Pamitra Jaya Konstruksi     17
Amartha                        14
                               ..
Kelas Pintar                    1
Philip Morris International     1
Gear Inc.                       1
Enterprise Singapore            1
Carsurin                        1
Name: count, Length: 485, dtype: int64

In [52]:
df['Title'] = df['Title'].str.lower() #convert all values in Title to lowercase
branch_list= ['business', 'branch', 'development']
scm_list = ['procurement','supply chain', 'logistic', 'warehouse']        
operation_list = ['operation', 'maintenance']
hrga_list = ['hr', 'general affair']
marketing_list =['merchandising', 'sales', 'retail', 'account manager']

length = len(df['Title'])
df_title = df['Title']
title_category = []
for row in range(length):
    if any(element in str(df_title.iloc[row]) for element in branch_list)==True:
        title_category.append('Business Development Manager')
    elif any(element in str(df_title.iloc[row]) for element in scm_list)==True:
        title_category.append('SCM Manager')
    elif any(element in str(df_title.iloc[row]) for element in operation_list)==True:
        title_category.append('Operation Manager')
    elif any(element in str(df_title.iloc[row]) for element in hrga_list)==True:
        title_category.append('HR Manager')
    elif any(element in str(df_title.iloc[row]) for element in marketing_list)==True:
        title_category.append('Marketing Manager')
    else:
        title_category.append('Others')

#Insert new columns after location. location starts from 0.
df['Title Category'] = title_category

In [53]:
df.sample(10)

,ID,Date,Company,Title,Location,City,Province,Description,Level,Type,Function,Industry,Title Category
360,NaN,2023-07-01,Progesys Inc,business development manager - indonesia,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,Progesys is a company recognized for its exper...,NaN,NaN,NaN,NaN,Business Development Manager
753,NaN,2023-11-29,ApplyBoard,international recruitment manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,"ApplyBoard simplifies the study abroad search,...",NaN,NaN,NaN,NaN,Others
585,NaN,2023-11-27,Gojek,corporate partnership manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Our Corporate Partnership Manager handles end-...,NaN,NaN,NaN,NaN,Others
573,NaN,2023-03-29,Michael Page,general manager - property developer,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,Fast paced working environment |Exciting job w...,NaN,NaN,NaN,NaN,Others
73,NaN,2023-11-12,Michael Page,operations manager (metals and minerals) - ins...,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,Operations Manager (Metals And Minerals) - Ins...,NaN,NaN,NaN,NaN,Operation Manager
165,NaN,2023-11-15,Caterpillar Inc.,operation manager,"Batam, Riau Islands, Indonesia",Batam,Riau Islands,Career Area\n\nManufacturing\n\nJob Descriptio...,NaN,NaN,NaN,NaN,Operation Manager
881,NaN,2023-11-16,The Arnott's Group,area sales manager north sumatera,Greater Medan,Greater Medan,NaN,The Arnott's Group is an iconic international ...,NaN,NaN,NaN,NaN,Marketing Manager
308,NaN,2023-11-13,Bukalapak,marketing analytics manager - allofresh,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,AlloFresh is a joint venture company between B...,NaN,NaN,NaN,NaN,Others
598,NaN,2023-06-23,Robert Walters,office manager,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,An Office Manager job has become available at ...,NaN,NaN,NaN,NaN,Others
903,NaN,2023-11-30,Hotel Indonesia Kempinski Jakarta,concierge,"Jakarta, Indonesia",NaN,Jakarta,Main Responsibilities:\n\nAnswer guest questio...,NaN,NaN,NaN,NaN,Others

In [54]:
# Count the total records by title category
df['Title Category'].value_counts()

Title Category
Others                          570
Marketing Manager               157
Business Development Manager    122
Operation Manager                56
SCM Manager                      50
HR Manager                       20
Name: count, dtype: int64

In [55]:
# Slice only job lists with title category = Marketing Manager
df_ds = df[df['Title Category']=='Marketing Manager']

In [56]:
# Slice only job lists with title category = Business Development Manager
# This is just a sample, for checking purpose
df_swe = df[df['Title Category']=='Business Development Manager']

In [57]:
len(df_ds)

157

In [58]:
df_swe.sample(10)

,ID,Date,Company,Title,Location,City,Province,Description,Level,Type,Function,Industry,Title Category
713,NaN,2023-06-22,Fingerprint for Success (F4S),expression of interest: business development m...,Indonesia,NaN,NaN,We are inviting professionals in high-growth i...,NaN,NaN,NaN,NaN,Business Development Manager
210,NaN,2023-11-13,Prudential Indonesia (PT Prudential Life Assur...,assistant manager - business analyst,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Prudential's purpose is to help people get the...,NaN,NaN,NaN,NaN,Business Development Manager
195,NaN,2023-11-15,PT Lion Super Indo,business planning specialist,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,MAIN RESPONSIBILITIES\n\nSupport Manager Budge...,NaN,NaN,NaN,NaN,Business Development Manager
281,NaN,2023-11-14,Sayurbox,business development manager (horeca business),"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Responsibilities\n\n\nDevelop and implement sa...,NaN,NaN,NaN,NaN,Business Development Manager
71,NaN,2023-11-27,Bukalapak,business development manager - bukabangunan,"Jakarta, Indonesia",NaN,Jakarta,Company Overview:\n\nBukalapaks mission is to ...,NaN,NaN,NaN,NaN,Business Development Manager
724,NaN,2023-11-19,PT Pamitra Jaya Konstruksi,engineering and business development manager -...,"Kota Palangka Raya, Central Kalimantan, Indonesia",Kota Palangka Raya,Central Kalimantan,Company Description: PT PAMITRA JAYA KONSTRUKS...,NaN,NaN,NaN,NaN,Business Development Manager
928,NaN,2023-09-15,Asuransi Astra,development program - account manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Account Manager Development Program (AMDP) is ...,NaN,NaN,NaN,NaN,Business Development Manager
387,NaN,2023-11-13,VLink Inc,business development manager,Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,Responsibilities\n\nIdentify and target potent...,NaN,NaN,NaN,NaN,Business Development Manager
962,NaN,2023-10-18,PT. Inovasi Anak Indonesia - PARKEE,business & operations,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,Responsibilities\n\n\nCreate monthly plan live...,NaN,NaN,NaN,NaN,Business Development Manager
631,NaN,2023-11-22,VISTRA,"manager, business development",Jakarta Metropolitan Area,Jakarta Metropolitan Area,NaN,Job description:\n\n\n\nA powerful combination...,NaN,NaN,NaN,NaN,Business Development Manager

In [59]:
df.drop('Description', inplace=True, axis=1)
df.drop('ID', inplace=True, axis=1)
df_clean = df
df_clean.columns = ['date', 'company', 'title', 'location','city','province','level','type','function','industry','title_category']

In [60]:
df_clean.head(10)

,date,company,title,location,city,province,level,type,function,industry,title_category
0,2023-10-13,PT Kino Indonesia Tbk,business manager,"Tangerang, Banten, Indonesia",Tangerang,Banten,NaN,NaN,NaN,NaN,Business Development Manager
1,2023-11-22,PT. Indosat Tbk,staff service management,"Jakarta, Indonesia",NaN,Jakarta,NaN,NaN,NaN,NaN,Others
2,2023-10-18,Kalbe Nutritionals (PT Sanghiang Perkasa),packaging development manager,"Jakarta Timur, Jakarta, Indonesia",Jakarta Timur,Jakarta,NaN,NaN,NaN,NaN,Business Development Manager
3,2023-11-27,PT. Gudang Garam Tbk,assistant brand manager,"Jakarta, Indonesia",NaN,Jakarta,NaN,NaN,NaN,NaN,Others
4,2023-11-29,Kalbe Consumer Health,brand manager,"North Jakarta, Jakarta, Indonesia",North Jakarta,Jakarta,NaN,NaN,NaN,NaN,Others
5,2023-10-18,Kalbe Nutritionals (PT Sanghiang Perkasa),brand manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,NaN,NaN,NaN,NaN,Others
6,2023-11-15,PT Bank Sinarmas Tbk,relationship manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,NaN,NaN,NaN,NaN,Others
7,2023-11-20,Bank Aladin Syariah,relationship manager,"Jakarta, Indonesia",NaN,Jakarta,NaN,NaN,NaN,NaN,Others
8,2023-10-18,PT SANTOS JAYA ABADI (Kapal Api Global),strategic management office manager,"Jakarta, Jakarta, Indonesia",Jakarta,Jakarta,NaN,NaN,NaN,NaN,Others
9,2023-10-16,"AYANA Resort and Spa, BALI",food & beverage manager | delonix hotel karawa...,"Karawang, West Java, Indonesia",Karawang,West Java,NaN,NaN,NaN,NaN,Others

### export to file

In [61]:
output_file_path_excel = 'lowongan_clean.xlsx'
output_file_path_csv = 'lowongan_clean.csv'
df_ds.to_excel(output_file_path_excel, index=False)
df.to_csv(output_file_path_csv, sep='$', index=False) #csv separator used = '$'